<body bgcolor="black">

<h1 style="text-align:center; color:red;">Angular tutorials</h1>
<h2 style="margin-left:10px; color:orange;">Course content</h2>
<h3 style="margin-left:25px; color:gold;">part1</h3>
<ol>
<li style="margin-left:15px; color:white;"><a href='#'style="text-decoration: none; color:white;">what is web application</a></li>
<li style="margin-left:15px; color:white;"><a href='#'style="text-decoration: none; color:white;">multi page web application</a></li>
<li style="margin-left:15px; color:white;"><a href='#'style="text-decoration: none; color:white;">single page web application</a></li>
<li style="margin-left:15px; color:white;"><a href='#'style="text-decoration: none; color:white;">Angular Introduction</a></li>
<li style="margin-left:15px; color:white;"><a href='#'style="text-decoration: none; color:white;">Angularjs vs angular framework</a></li>
<li style="margin-left:15px; color:white;"><a href='#'style="text-decoration: none; color:white;">Angular framework version history</a></li>
<li style="margin-left:15px; color:white;"><a href='#'style="text-decoration: none; color:white;">Advantages of angular</a></li>
<li style="margin-left:15px; color:white;"><a href='#'style="text-decoration: none; color:white;">Angular Architecture</a></li>
</ol>
<h3 style="margin-left:25px; color:gold;">part2</h3>
<ol>
<li style="margin-left:15px; color:white;"><a href='#'style="text-decoration: none; color:white;">TypeScript Introductio</a></li>
<li style="margin-left:15px; color:white;"><a href='#'style="text-decoration: none; color:white;">Advantages of TypeScro</a></li>
<li style="margin-left:15px; color:white;"><a href='#'style="text-decoration: none; color:white;">javascript vs typescript</a></li>
<li style="margin-left:15px; color:white;"><a href='#'style="text-decoration: none; color:white;">Environment setup to work with typescript</a></li>
<li style="margin-left:15px; color:white;"><a href='#'style="text-decoration: none; color:white;">variables</a></li>
<li style="margin-left:15px; color:white;"><a href='#'style="text-decoration: none; color:white;">Datatypes</a></li>
<li style="margin-left:15px; color:white;"><a href='#'style="text-decoration: none; color:white;">inputs and outputs</a></li>
<li style="margin-left:15px; color:white;"><a href='#'style="text-decoration: none; color:white;">working with buttons or events</a></li>
<li style="margin-left:15px; color:white;"><a href='#'style="text-decoration: none; color:white;">working with if else</a></li>
<li style="margin-left:15px; color:white;"><a href='#'style="text-decoration: none; color:white;">working with loops</a></li>
<li style="margin-left:15px; color:white;"><a href='#'style="text-decoration: none; color:white;">oops</a></li>
<li style="margin-left:15px; color:white;"><a href='#'style="text-decoration: none; color:white;">class</a></li>
<li style="margin-left:15px; color:white;"><a href='#'style="text-decoration: none; color:white;">object</a></li>
<li style="margin-left:15px; color:white;"><a href='#'style="text-decoration: none; color:white;">constructor</a></li>
<li style="margin-left:15px; color:white;"><a href='#'style="text-decoration: none; color:white;">Inheritance</a></li>
<li style="margin-left:15px; color:white;"><a href='#'style="text-decoration: none; color:white;">Access Modifiers</a></li>
<li style="margin-left:15px; color:white;"><a href='#'style="text-decoration: none; color:white;">interfaces contracts</a></li>
<li style="margin-left:15px; color:white;"><a href='#'style="text-decoration: none; color:white;">enumerations</a></li>
<li style="margin-left:15px; color:white;"><a href='#'style="text-decoration: none; color:white;">modules</a></li>
<li style="margin-left:15px; color:white;"><a href='#'style="text-decoration: none; color:white;">Examples of typescript</a></li>
<li style="margin-left:15px; color:white;"><a href='#'style="text-decoration: none; color:white;">Dom Manipulation</a></li>
</ol>
<h3 style="margin-left:25px; color:gold;">part3</h3>
<ol>
<li style="margin-left:15px; color:white;"><a href='#'style="text-decoration: none; color:white;">Receive angular Introduction</a></li>
<li style="margin-left:15px; color:white;"><a href='#'style="text-decoration: none; color:white;">Receive Angular ArchiTecture</a></li>
<li style="margin-left:15px; color:white;"><a href='#'style="text-decoration: none; color:white;">Environment setup (NPM, Angular CLI vs code IDE</a></li>
<li style="margin-left:15px; color:white;"><a href='#'style="text-decoration: none; color:white;">First Application creation using angular</a></li>
<li style="margin-left:15px; color:white;"><a href='#'style="text-decoration: none; color:white;">Understanding Angular Application Folder Structure</a></li>
<li style="margin-left:15px; color:white;"><a href='#'style="text-decoration: none; color:white;">Live server to run angular apps</a></li>
<li style="margin-left:15px; color:white;"><a href='#'style="text-decoration: none; color:white;">Component in angular</a></li>
<li style="margin-left:15px; color:white;"><a href='#'style="text-decoration: none; color:white;">Login app using angular</a></li>
<li style="margin-left:15px; color:white;"><a href='#'style="text-decoration: none; color:white;">Registration app using angular</a></li>
<li style="margin-left:15px; color:white;"><a href='#'style="text-decoration: none; color:white;">Dirictives</a></li>
<li style="margin-left:15px; color:white;"><a href='#'style="text-decoration: none; color:white;">Pipes</a></li>
<li style="margin-left:15px; color:white;"><a href='#'style="text-decoration: none; color:white;">Form based application using angular</a></li>
<li style="margin-left:15px; color:white;"><a href='#'style="text-decoration: none; color:white;">template driven forms</a></li>
<li style="margin-left:15px; color:white;"><a href='#'style="text-decoration: none; color:white;">Reactive forms</a></li>
<li style="margin-left:15px; color:white;"><a href='#'style="text-decoration: none; color:white;">Form validation</a></li>
<li style="margin-left:15px; color:white;"><a href='#'style="text-decoration: none; color:white;">Routings</a></li>
</ol>
<h3 style="margin-left:25px; color:gold;">part4</h3>
<ol>
<li style="margin-left:15px; color:white;"><a href='#'style="text-decoration: none; color:white;">Http client</a></li>
<li style="margin-left:15px; color:white;"><a href='#'style="text-decoration: none; color:white;">2 or 3 rest api using Spring boot</a></li>
<li style="margin-left:15px; color:white;"><a href='#'style="text-decoration: none; color:white;">consuming backend  Rest Apis using Angular</a></li>
<li style="margin-left:15px; color:white;"><a href='#'style="text-decoration: none; color:white;">Interview Questions</a></li>

</ol>

</body>